<div class="full-width-section featured-jerseys-container">
    <div class="container py-5">
        <h2 class="text-center mb-5 text-white">Featured Jerseys</h2>

        <div class="row">

            <ProductCard ImageUrl="/Images/PSG_Away_Jersey.jpg"
                         Title="Paris Saint Germain Home Jersey"
                         Price="FCFA 20,000 XAF"
                         Season="HOME(2024/2025)" />

            <ProductCard ImageUrl="/Images/atlectico.png"
                         Title="Atletico AWAY Jersey (Griezman)"
                         Price="FCFA 15,000 XAF"
                         Season="AWAY(2025/2026)" />

            <ProductCard ImageUrl="/Images/Liverpool.jpeg"
                         Title="Liverpool Home Kit"
                         Price="FCFA 35,000 XAF"
                         Season="HOME(2025/2026)" />

            <ProductCard ImageUrl="/Images/wolves.jpg"
                         Title="Wolves Kit"
                         Price="FCFA 10,000 XAF"
                         Season="THIRD(2025/2026)" />

            <ProductCard ImageUrl="/Images/PSG_Away_Jersey.jpg"
                         Title="Paris Saint Germain Home Jersey"
                         Price="FCFA 20,000 XAF"
                         Season="HOME(2024/2025)" />

            <ProductCard ImageUrl="/Images/atlectico.png"
                         Title="Atletico AWAY Jersey (Griezman)"
                         Price="FCFA 15,000 XAF"
                         Season="AWAY(2025/2026)" />

            <ProductCard ImageUrl="/Images/Liverpool.jpeg"
                         Title="Liverpool Home Kit"
                         Price="FCFA 35,000 XAF"
                         Season="HOME(2025/2026)" />

            <ProductCard ImageUrl="/Images/wolves.jpg"
                         Title="Wolves Kit"
                         Price="FCFA 10,000 XAF"
                         Season="THIRD(2025/2026)" />

        </div>
    </div>
</div>