<div class="hero-banner-container" style="margin-top: 0px;">
    <div class="hero-image-container">
        <div class="hero-text-overlay" style="margin-top: 200px;">
            <h1>Official Jerseys. Unbeatable Style.</h1>
            <p>
                <h3>Discover premium football jerseys at Maillot Store. Wear your passion and support your team in style.</h3>
            </p>
            <p class="mb-4 tertiary-text">
                <h2>"Your Premier Destination for Authentic Jerseys"</h2>
            </p>

            <a href="/shop" class="btn btn-lg">Shop Now</a>
        </div>
    </div>
</div>