<div class="full-width-section why-choose-us-container">
    <div class="container py-5">
        <h1 class="text-center mb-5 text-white">Why Choose Us?</h1>

        <div class="row d-flex justify-content-center">

            <div class="col-6 col-md-4 mb-4">
                <div class="card h-100 why-choose-us-card">
                    <div class="card-body text-center">
                        <i class="bi bi-patch-check-fill d-block mb-3"></i>
                        <h5 class="card-title fw-bold">Authenticity Guaranteed</h5>
                        <p class="card-text">
                            Original quality guaranteed from official suppliers.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4 mb-4">
                <div class="card h-100 why-choose-us-card">
                    <div class="card-body text-center">
                        <i class="bi bi-truck d-block mb-3"></i>
                        <h5 class="card-title fw-bold">Fast & Reliable Delivery</h5>
                        <p class="card-text">
                            Get your jersey delivered quickly and reliable, no matter where you are.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4 mb-4">
                <div class="card h-100 why-choose-us-card">
                    <div class="card-body text-center">
                        <i class="bi bi-bag-check-fill d-block mb-3"></i>
                        <h5 class="card-title fw-bold">Easy Ordering Process</h5>
                        <p class="card-text">
                            Our user-friendly platform makes ordering your favorite jerseys a breeze.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>