@page "/dashboard"
@using MaillotStore.Components

<div class="d-flex admin-dashboard-container">

    <AdminSidebar />

    <div class="main-content-dashboard flex-grow-1 p-5">
        <h1 class="text-white fw-bold mb-5">Welcome, Kevin</h1>

        <h2 class="text-white mb-4">Quick Stats</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card stat-card">
                    <div class="card-body">
                        <h5 class="card-title text-white">Total Products</h5>
                        <p class="card-text fs-2 fw-bold text-white">45</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card stat-card">
                    <div class="card-body">
                        <h5 class="card-title text-white">Total Orders</h5>
                        <p class="card-text fs-2 fw-bold text-white">78</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card stat-card">
                    <div class="card-body">
                        <h5 class="card-title text-white">Active Influencers</h5>
                        <p class="card-text fs-2 fw-bold text-white">12</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>