<div class="bg-black py-3" style="width: 100vw; position: relative; left: calc(49.7% - 50vw); margin-top: 60px; margin-top: 5px;">

    <div class="container">
        <form role="search" class="d-flex justify-content-center mx-auto" style="max-width: 600px; width: 40%;">
            <div class="input-group">
                <span class="input-group-text" id="home-search-icon">
                    <i class="bi bi-search"></i>
                </span>
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" aria-describedby="home-search-icon">
            </div>
        </form>
    </div>
</div>