@page "/"
@using MaillotStore.Components.Sections

<div class="home-page-content">
    <HomePageSearchBar />

    <HeroBanner />

    <div class="container mt-5 pt-5">
        <FeaturedJerseys />
    </div>

    <div class="container">
        <WhyChooseUs />
    </div>

    <InfluencerSection />

    <Footer />
</div>